@import url(//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

@import "mixins";

.include-custom-font(@family: arial, @weight: normal, @style: normal){
    @font-face{
        font-family: @family;
        src:url('../fonts/@{family}.eot');
        src:url('../fonts/@{family}.eot?#iefix') format('embedded-opentype'),
            url('../fonts/@{family}.ttf') format('truetype');
        font-weight: @weight;
        font-style: @style;
    }
}

.include-custom-font(@family:GoudyBookletter1911);

html, body {
  /*
  background-color: #333;
  color: #ccc;
  */
  margin: 0;
  /*overflow-x: hidden;*/
  height: 100%;
}

html, body, input, select, option {
  font-family: 'GoudyBookletter1911', serif;

}

form {
  fieldset {
    border: none;
    ul {
      li {
        
      }
    }
  }
}

header > nav {
  position: fixed;
  clear: both;
  width: 100%;
  background-color: #000;
  height: 1em;
  padding: 10px 0px;
  z-index: 100;
  top: 0px;
  ul
  {
    list-style: none;
    margin: 0px 5px;
    padding: 0;
    float: left;
    li {
      display: block;
      float: left;
      margin: 0px 10px;
      text-transform: lowercase;
    }
    li.brand{
      font-weight: bold;
      a {
        color: #FFF;
      }
    }
  }
  ul.right {
    float: right;
  }
  a {
    text-decoration: none;
  }
}

main {
  margin-top: 40px;

}

.data-select {
  width: 20%;
  select {
    border:
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
    li {
      li {
        margin-left: 15px;
      }
      input[type=checkbox] + label {
          opacity: 0.5;
      }
      input[type=checkbox]:checked + label {
          opacity: 1.0;
      }
      input[type=checkbox] ~ ul {
          opacity: 0.5;
      }        
      input[type=checkbox]:checked  ~ ul {
          opacity: 1.0;
      }
    }
  }
}

.data-display {
  background-color: #CC0;
}

main {
  display: table;
  width: 100%;
  height: 100%;
  & > section {
    display: table-cell;
    &.data-display {
      background-color: #CC0;
    }
  }
}
