@import "bower_components/bootstrap/less/bootstrap.less";
@import (less) "bower_components/bootstrap-daterangepicker-reset/daterangepicker.css";
@import (less) "flaticon.css";

@fonts-path: "../fonts/";
@icon-font-path:          "@{fonts-path}bootstrap/";
@flat-icon-path: "@{fonts-path}flaticon/";

@font-face {
  font-family: "Flaticon";
  src: url("@{flat-icon-path}flaticon.eot");
  src: url("@{flat-icon-path}flaticon.eot#iefix") format("embedded-opentype"),
  url("@{flat-icon-path}flaticon.woff") format("woff"),
  url("@{flat-icon-path}flaticon.ttf") format("truetype"),
  url("@{flat-icon-path}flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}


.btn-group .btn-lg i[class^="flaticon-"] {
  margin-left: -10px;
  margin-right: 10px;
}

.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}
/*
.button-set {
  position: relative;
}

.button-set .collapse {
  position: absolute;

}
*/