@import "../js/vendor/bootstrap/less/bootstrap.less";
@import "../js/vendor/bootstrap/less/responsive.less";
@import "../js/vendor/bootstrap-daterangepicker/daterangepicker.css";


select {
	text-transform: capitalize; 
}

form #adv-item {
	margin-top: -3px;
	margin-left: 3px;
	display: none;
}


form #adv-item[disabled] {
	.opacity(50);
	cursor: not-allowed;
}


.page {
	display: none;
	position: absolute;
	width: 100%;
}

body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
	  float: none;
	  padding-left: 5px;
	  padding-right: 5px;
	}
}

@media (max-width: 979px) {
	body {
		padding-top: 0;
	}
}

@media (max-width: 1023px) {
	#controls {
		display: none;
	}
}

@media (max-height: 320px) and (min-width: 1023px) {
	footer {
		position: static;
	}
}

canvas[id] {
	width: 100%;
}

footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.incompatible #support {
	display: block;
}

.incompatible .navbar ul.nav {
	display: none;
}

.incompatible footer {
	display: none;
}