@import "../js/vendor/bootstrap/less/bootstrap.less";

body > .container-fluid {
	margin-top: 40px;
	padding-top: 20px;
}

.page {
	display: none;
	position: absolute;
}

select {
	text-transform: capitalize; 
}

form #adv-item {
	margin-top: -3px;
	margin-left: 3px;
	display: none;
}

@import "../js/vendor/bootstrap-daterangepicker/daterangepicker.css";