<section>
  <form>
    <fieldset>
      <div>
        <label>Date Range</label>
        <label for=""></label>
        <input type="date" name="" value="">
        <label for=""></label>
        <input type="date" name="" value="">
      </div>
      <div>
        <select id="organize">
          <option>Group by Items</option>
          <option>Group by Areas</option>
        </select>
      </div>
      <div>
        <ul>
          <li>
            <label>Bread</label> <input type="checkbox" name="" value="" checked>
            <ul>
              <li>
                
                <label>Group A</label><input type="checkbox" name="" value="" checked>
              </li>
              <li>
                <label>
                  New York City</label><input type="checkbox" name="" value="" checked>
                </li>
                <li>
                  <label>
                    Midwest City</label><input type="checkbox" name="" value="" checked>
                  </li>
                </ul>
              </li>
              <li>
                
                <label>Ground Beef</label><input type="checkbox" name="" value="" checked>
                <ul>
                  <li>
                    
                    <label>Group A</label><input type="checkbox" name="" value="" checked>
                  </li>
                  <li>
                    
                    <label>New York City</label><input type="checkbox" name="" value="" checked>
                  </li>
                  <li>
                    
                    <label>Midwest City</label><input type="checkbox" name="" value="" checked>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </fieldset>
      </form>
    </section>