<section class="data-select">
  <form>
    <fieldset>
      <div>
        <label>Date Range</label><br>
        <label for=""></label>
        <input type="date" name="" value="" data-value="">
        <label for=""></label>
        <input type="date" name="" value="" data-value="now">
      </div>
      <div>
        <select id="organize">
          <option>Group by Items</option>
          <option>Group by Areas</option>
        </select>
      </div>
      <div>
        <ul>
          <li>
             <input type="checkbox" name="" value="" checked><label>Bread</label>
            <ul>
              <li>
                
                <input type="checkbox" name="" value="" checked><label>Group A</label>
              </li>
              <li><input type="checkbox" name="" value="" checked>
                <label>
                  New York City</label>
                </li>
                <li>
                  <input type="checkbox" name="" value="" checked><label>
                    Midwest City</label>
                  </li>
                </ul>
              </li>
              <li>
                
                <input type="checkbox" name="" value="" checked><label>Ground Beef</label>
              
            <ul>
              <li>
                
                <input type="checkbox" name="" value="" checked><label>Group A</label>
              </li>
              <li><input type="checkbox" name="" value="" checked>
                <label>
                  New York City</label>
                </li>
                <li>
                  <input type="checkbox" name="" value="" checked><label>
                    Midwest City</label>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </fieldset>
      </form>
    </section>
    <section  class="data-display">

      <div>
      </div>
      </section>