<section>
        <form>
          <fieldset>
            <div>
              <label>Date Range</label>
              <label for=""></label>
              <input type="date" name="" value="">
              <label for=""></label>
              <input type="date" name="" value="">
            </div>
            <label>Items</label>
            <select multiple>
              <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
            </select>
            <label>Areas</label>
            <select multiple>
              <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
            </select>
          </fieldset>
        </form>
      </section>