<div class="container-fluid">
  <span class="row">
    <span class="col-lg-3">
      <span class="row">
        <span class="col-lg-12">          
          <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            <input  class="form-control" type="daterangepicker" name="daterange"/>
          </div>
        </span>
      </span>
      <span class="row">
        <span class="col-lg-12">
          <ul>
            <li>By Thing<ul>
              <li>Gasoline
                <ul>
                  <li>Average US City</li>
                  <li>Detroit</li>
                  <Li>South Size B</Li>
                </ul>
              </li>

              <li>Bread
                <ul>
                  <li>Average US City</li>
                  <li>Detroit</li>
                  <Li>South Size B</Li>
                </ul>
              </li>
            </ul>
          </ul>
        </span>
      </span>
    </span>
    <span class="col-lg-9">
      <div class="graph">
      </div>
    </span>
  </span>
</div>